In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
import os

sns.set()

In [3]:
df_x = pd.read_csv(os.path.join('data','train_data.csv'), header=None).add_prefix('Feature_')
df_y = pd.read_csv(os.path.join('data', 'train_labels.csv'), header=None, names=["Label_0", "Label_1", "Label_2", "Label_3"])
assert df_x.shape == (24754, 784)
assert df_y.shape == (24754, 4)
assert df_x.shape[0] == df_y.shape[0]

In [11]:
df_x.describe()

,Feature_0,Feature_1,Feature_2,Feature_3,Feature_4,Feature_5,Feature_6,Feature_7,Feature_8,Feature_9,...,Feature_774,Feature_775,Feature_776,Feature_777,Feature_778,Feature_779,Feature_780,Feature_781,Feature_782,Feature_783
count,24754.0,24754.0,24754.0,24754.0,24754.0,24754.0,24754.0,24754.0,24754.0,24754.0,...,24754.0,24754.0,24754.0,24754.0,24754.0,24754.0,24754.0,24754.0,24754.0,24754.0
mean,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
std,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
75%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
max,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
df_x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24754 entries, 0 to 24753
Columns: 784 entries, Feature_0 to Feature_783
dtypes: float64(784)
memory usage: 148.1 MB

In [8]:
df_y.describe(include='all')

            Label_0       Label_1       Label_2       Label_3
count  24754.000000  24754.000000  24754.000000  24754.000000
mean       0.239274      0.272360      0.240688      0.247677
std        0.426649      0.445183      0.427510      0.431672
min        0.000000      0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000      0.000000
50%        0.000000      0.000000      0.000000      0.000000
75%        0.000000      1.000000      0.000000      0.000000
max        1.000000      1.000000      1.000000      1.000000

In [10]:
df_y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24754 entries, 0 to 24753
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Label_0  24754 non-null  float64
 1   Label_1  24754 non-null  float64
 2   Label_2  24754 non-null  float64
 3   Label_3  24754 non-null  float64
dtypes: float64(4)
memory usage: 773.7 KB

In [14]:
# get the number of missing data points per column
missing_values_count = df_x.isnull().sum()
missing_values_count

Feature_0      0
Feature_1      0
Feature_2      0
Feature_3      0
Feature_4      0
              ..
Feature_779    0
Feature_780    0
Feature_781    0
Feature_782    0
Feature_783    0
Length: 784, dtype: int64

In [23]:
from utils.data_cleaner import *
check_missing_data_percentage(df_x)

Percentage Missing: 0.00%

'0.00%'

In [24]:
check_missing_data_percentage(df_y)

Percentage Missing: 0.00%

'0.00%'

In [25]:
df_x.corr()

,Feature_0,Feature_1,Feature_2,Feature_3,Feature_4,Feature_5,Feature_6,Feature_7,Feature_8,Feature_9,...,Feature_774,Feature_775,Feature_776,Feature_777,Feature_778,Feature_779,Feature_780,Feature_781,Feature_782,Feature_783
Feature_0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Feature_1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Feature_2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Feature_3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Feature_4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Feature_779,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Feature_780,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Feature_781,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Feature_782,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Feature_783,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN